body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, #000000, #000080, #87CEFA); /* Fondo degradado de negro, azul oscuro y azul claro */
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.calculator {
    width: 320px;
    background-color: #333;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    position: relative;
}

.calculator.light {
    background-color: #fff; /* Fondo blanco para el tema claro */
}

.display-screen {
    background-color: #222;
    color: white;
    font-size: 32px;
    padding: 15px;
    border-radius: 10px;
    text-align: right;
    margin-bottom: 15px;
    min-height: 50px;
}

.display-screen.light {
    background-color: #fff; /* Fondo de pantalla blanco */
    color: #333; /* Texto oscuro en modo claro */
}

.buttons table {
    width: 100%;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.btn-operator {
    background-color: #ff9f43;
}

button.btn-number {
    background-color: #00cec9;
}

button.btn-equal {
    background-color: #6c5ce7;
    color: white;
}

button:hover {
    opacity: 0.9;
}

.theme-toggler {
    cursor: pointer;
    margin-bottom: 15px;
    text-align: right;
}

.theme-toggler .toggler-icon {
    width: 20px;
    height: 20px;
    background-color: #ff9f43;
    display: inline-block;
    border-radius: 50%;
}

.theme-toggler.active .toggler-icon {
    background-color: #6c5ce7;
}

button.btn-function {
    background-color: #1abc9c;
}

button.btn-function:hover {
    background-color: #16a085;
}
